.navbar{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;

}
.rueda{
    height: 40px;
    width: 40px;
    border: solid  rgb(68, 51, 51);
}
.bigote{
    height: 100px;
    width: 100px;
}
.inicio{
    height: 40px;
    width: fit-content;
}
.middiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.tijeras{
    rotate: 90deg;
    height: 200px;
    width: 200px;
}
.barba{
    height: 200px;
    width: 200px;
}
.border{
    border: solid 2px black;
    border-radius: 100%;
    padding: 10px;
}
.input{
    text-align: center;
    margin-top: 4%;
}
input{
    border: none;
    border-bottom: solid 3px black;
}
input:focus{
    outline: none;
}
.horario{
    margin-top: 5%;
    text-align: center;
}
.horario > button{
    margin: 3%;
    width: 80px;
}
.reserved{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.mine{
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.user{
    font-weight: bold;
    background-color: #ddd;

}
